body {
  font-family: poppins;
  /*background-image: url(../img/sfondo.png);*/
  background-color: #000000;
  line-height: 1.5;
}

header {
  background-color: lightseagreen;

  background: rgb(1, 165, 217);
  background: linear-gradient(
    180deg,
    rgba(1, 165, 217, 1) 0%,
    rgba(21, 111, 139, 1) 50%
  );
  text-align: center;
  font-size: larger;
  font-weight: 520;
  color: white;
  -webkit-box-shadow: 0px 5px 7px 0px #000000;
  -webkit-box-shadow: 0px 5px 7px 0px #000000;
  -moz-box-shadow: 0px 5px 7px 0px #000000;
  -o-box-shadow: 0px 5px 7px 0px #000000;
  box-shadow: 0px 5px 7px 0px #000000;
  display: block;
}
main {
  background-color: white;

  display: block;
}
article {
  display: block;
}
main h2 {
  font-size: 2.5em;
}
main div {
  color: grey;
}
main p {
}
main article p span {
  color: crimson;
  font-weight: bold;
}
main article ul li span {
  border: 1px solid #454545;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #9c9c9c;
}

form {
  background-color: white;

  display: block;
}
form div {
  background-color: lightseagreen;

  background: grey;
  align-content: center;
}
form div h2 {
  font-size: 2em;
  text-align: center;
}
aside {
  background-color: white;

  display: block;
}
aside h2 {
  font-size: 2em;
  text-align: center;
}

footer {
  background-color: lightseagreen;
  background: rgb(1, 165, 217);
  background: linear-gradient(
    180deg,
    rgba(1, 165, 217, 1) 0%,
    rgba(21, 111, 139, 1) 50%
  );
  display: block;
}

main,
form,
aside,
footer,
header {
  width: 100vw;
}
